.App {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 150px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #CCC;
  padding: 10px;
}

ul {
  padding-left: 6px;
}

h4 {
  margin-bottom: 8px;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section-header a, .sub-section-header a {
  text-decoration: none;
  color: #000;
}

.section-header a:hover, .sub-section-header a:hover{
  text-decoration: underline;
}

.sections-drawer {
  grid-column-start: 1;
  grid-column-end: 2;
  background: #AAA;
  height: 100vh;
  padding-left: 20px;
}

.section-link, .section-header {
  list-style: none;
  margin-bottom: 6px;
  margin-left: 0;
}

.section-link a {
  text-decoration: none;
  color: #000;
}

.section-link a:visited {
  color: none;
}

.section-link a:hover {
  text-decoration: underline;
}
